*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #131315;
}
/*---------------------------------------NAVBAR ---------------------------------------*/

.navbar-1 {
    background-color: #1F1F1F;
}

.navbar-1 a, .navbar-2 a {
    color: #D9D9D9;
}

.navbar-2 {
    background-color: #1F1F1F;
}

.navbar-2 .btn {
    color: #D9D9D9;
    border-color: #D9D9D9;
} 

.navbar-2 .btn:hover {
    background-color: #D9D9D9;
    color: black;
 } 

 
/*---------------------------------------MAIN ---------------------------------------*/

main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main h1 {
    color: #D9D9D9;
    margin-bottom: 2%;
    font-size: 3vw;
}

iframe {
    width: 63%;
    height: 70%;
    
    border: 5px solid #D9D9D9
}

@media (max-width: 600px) {
    iframe {
        width: 98%;
        
        border: 5px solid #D9D9D9
    }
    
}


/*---------------------------------------FOOTER ---------------------------------------*/

footer{
    height: 180px;
    background-color: #1F1F1F;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 25%);
}

.class-redes img{
    max-width: 35px;
    width: 10%;
    height: 100%;
    object-fit: cover;
}

.class-acerca a{
    color: #D9D9D9;
    list-style: none;
    text-decoration: none;
}

.class-acerca{
    margin-top: 10px;
}

.class-contactanos a{
    color: #D9D9D9;
    list-style: none;
    text-decoration: none;
}

.class-contactanos{
    margin-top: 10px;
}

.class-logo img{
     width: 20%;
     height: 100%;
     object-fit: cover;
 }

.class-logo{
    margin-top: 5px;
}

.class-redes{
    margin: 5px 0;
}

@media screen and (min-width:600px){
    footer{
        height: 100px;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }

    .class-logo img{
        width: 30%;
        height: 100%;
        object-fit: cover;
    }

    .class-redes img{
        width: 30%;
        height: 100%;
        object-fit: cover;
    }

    .class-contactanos{
        margin-top: 0px;
    }

    .class-acerca{
        margin-top: 0px;
    }
}

